{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
extension Clients {
  /// A Swift protocol to mock `{{Codec.ClientName}}`.
  ///
  /// To mock `{{Codec.ClientName}}` change your functions to receive
  /// `some {{Codec.StubPrefix}}Protocol` or `any {{Codec.StubPrefix}}Protocol`
  /// and pass a mock implementation in your tests.
  public protocol {{Codec.StubPrefix}}Protocol {
    {{#Codec.RestMethods}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/request}}
    {{#Codec.PlainRPC}}
    {{#Signatures}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/overload}}
    {{/Signatures}}
    {{/Codec.PlainRPC}}
    {{#Codec.Pagination}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/pagination}}
    {{#Signatures}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/pagination_overload}}
    {{/Signatures}}
    {{/Codec.Pagination}}
    {{#Codec.LRO}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/lro}}
    {{#Signatures}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/lro_overload}}
    {{/Signatures}}
    {{/Codec.LRO}}
    {{/Codec.RestMethods}}

    {{#Codec.RestMethods}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/request_options}}
    {{#Codec.Pagination}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/pagination_options}}
    {{/Codec.Pagination}}
    {{#Codec.LRO}}
    /// See `{{Service.Codec.ClientName}}.{{Codec.Name}}`.
    func {{> /templates/common/method_signature/lro_options}}
    {{/Codec.LRO}}
    {{/Codec.RestMethods}}
  }
}

// Default implementations
extension Clients.{{Codec.StubPrefix}}Protocol {
  {{#Codec.RestMethods}}

  public func {{> /templates/common/method_signature/request}} {
    try await self.{{Codec.Name}}(request: request, options: .init())
  }

  public func {{> /templates/common/method_signature/request_options}} {
    throw GoogleCloudGax.RequestError.unimplemented
  }
  {{#Codec.PlainRPC}}
  {{#Signatures}}

  public func {{> /templates/common/method_signature/overload}} {
    let request = {{Method.InputType.Codec.ParameterTypeName}}().with {
      {{#Fields}}
      $0.{{Codec.Name}} = {{Codec.Name}}
      {{/Fields}}
    }
    {{#Method.ReturnsEmpty}}
    try await self.{{Method.Codec.Name}}(request: request)
    {{/Method.ReturnsEmpty}}
    {{^Method.ReturnsEmpty}}
    return try await self.{{Method.Codec.Name}}(request: request)
    {{/Method.ReturnsEmpty}}
  }
  {{/Signatures}}
  {{/Codec.PlainRPC}}
  {{#Codec.Pagination}}

  public func {{> /templates/common/method_signature/pagination}} {
    try self.{{Codec.Name}}(byItem: byItem, options: .init())
  }

  public func {{> /templates/common/method_signature/pagination_options}} {
    let listRpc = { (token: String) async throws -> {{Codec.ReturnType}} in
      throw GoogleCloudGax.RequestError.unimplemented
    }
    return GoogleCloudGax.PaginatedResponseSequence(listRpc: listRpc)
  }
  {{#Signatures}}

  public func {{> /templates/common/method_signature/pagination_overload}} {
    let request = {{Method.InputType.Codec.ParameterTypeName}}().with {
      {{#Fields}}
      $0.{{Codec.Name}} = {{Codec.Name}}
      {{/Fields}}
    }
    return try self.{{Codec.Name}}(byItem: request)
  }
  {{/Signatures}}
  {{/Codec.Pagination}}
  {{#Codec.LRO}}

  public func {{> /templates/common/method_signature/lro}} {
    try await self.{{Codec.Name}}(withPolling: withPolling, options: .init())
  }

  public func {{> /templates/common/method_signature/lro_options}} {
    let poll = { () async throws -> GoogleCloudGax._PollableOperationImpl<{{Codec.LRO.ReturnType}}>.State in
      throw GoogleCloudGax.RequestError.unimplemented
    }
    return GoogleCloudGax._PollableOperationImpl(initialState: .init(done: false, result: nil), poll: poll)
  }
  {{#Signatures}}

  public func {{> /templates/common/method_signature/lro_overload}} {
    let request = {{Method.InputType.Codec.ParameterTypeName}}().with {
      {{#Fields}}
      $0.{{Codec.Name}} = {{Codec.Name}}
      {{/Fields}}
    }
    return try await self.{{Codec.Name}}(withPolling: request)
  }
  {{/Signatures}}
  {{/Codec.LRO}}
  {{/Codec.RestMethods}}
}
